<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'issues')}">
<body>
<h2>Issues</h2>
<table id="vets" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Issue Title</th>
        <th style="width: 200px;">Issue Type</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="issue : ${selections}">
        <td>
            <a th:href="@{/issues/__${issue.id}__}" th:text="${issue.issueTitle}"/></a>
        </td>
        <td th:text="${issue.issueStyle}"/>
        <td th:text="${issue.description}"/>
    </tr>
    </tbody>
</table>

</body>
</html>
